git+https://github.com/subinps/pyrogram@inline-m
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
requests
bs4
imdbpy
aiofiles
telegraph
pyrogram
youtube_search_python
youtube_search
ytthumb
ffmpeg-python
googletrans==4.0.0-rc1
carbonnow==0.0.1
Pillow>=4.2.0
bs4
string-extract
domain-extract
hashtags_extract
Pymoe
pendulum
pytesseract
pyshorteners
python-decouple
speedtest-cli
countryinfo
python-telegram-bot==11.1.0
pyromod~=1.5
gtts
yt_dlp
wget
